<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="author" content="contact@vjeantet.fr">
	<meta http-equiv="Content-Language" content="fr">
	<meta name="author" content="Valère JEANTET">
	<meta name='copyright' content='Apache License version 2.0'>
	<meta name="description" content="un calendrier semestriel simple et imprimable.">
	<meta name="keywords" content="calendrier, semestre, imprimable, simple">
	<title>Calendrier semestriel {{.startDateTime.Year}}</title>
	
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="/static/js/JSON-js/json2.js"></script>
	<script src="/static/js/jquery-cookie/jquery.cookie.js"></script>
	<script src="/static/js/calendrier.de/detailsjour.js"></script>
	
	<script src="/dayoff?annee={{.startDateTime.Year}}"></script>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-79101-11']);
	  _gaq.push(['_setDomainName', 'calendrier.de']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

	<link rel="stylesheet" type="text/css" media="" href="/static/css/calendrier.de/default.css">
	<link rel="stylesheet" type="text/css" media="" href="/static/css/calendrier.de/couleurs.css">
	<link rel="stylesheet" type="text/css" media="print" href="/static/css/calendrier.de/print.css">
	<link rel="stylesheet" type="text/css" media="" href="/static/css/calendrier.de/weekend.css">

	<link rel="icon" type="image/png" href="/static/img/favicon.png"> 
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/static/img/favicon.png"/>
	
</head>
<body>
	<span id='entete'>
	<span id='annee' contenteditable="true">
		{{.startDateTime.Year}}{{if ne .pageEndYear .startDateTime.Year}}-{{.pageEndYear}} {{end}}
	</span>
	<span class="actions" style="text-align:center;position:absolute;padding-top:10px">
		<!-- link to previous month -->
		<a href="/{{ printf "%s%04d/%02d" .titleEncoded .previousPageTime.Year .previousPageTime.Month  }}">[&lt;&lt;]</a>
		&nbsp;-&nbsp; 
		<!-- link to the next month -->
		<a href="/{{ printf "%s%04d/%02d" .titleEncoded .nextPageTime.Year .nextPageTime.Month  }}">[&gt;&gt;]</a>
		
		<a href="Javascript:void();" onclick="jourDeleteCustomization() ;" >reset</a>
	</span>
	<span id="titre" contenteditable="true">{{ .title}}</span>
	<span id='url'>&hearts; http://calendrier.de{{.requestPATH}}</span>
	<span id='logo' ><img  src="/static/img/logo_r.png" alt="Sodadi"></span>
	</span>

	<span id='calendrier'>
	{{$p := .dayLabels}}
	{{$m := .monthLabels}}
	{{$mm := .monthsMap}}
	
	{{range $index := .monthsMapOrder}}
		{{$element := index $mm $index }}
	
		<span class="mois"><span class="nom_mois">{{index $m $index}}</span>
		{{range $element}}
			<span class="jour J_{{index $p .Weekday}}" id="j-{{.Format "02012006"}}">
				<span class="opt1"></span>
				<span class="numero_jour">{{.Format "02"}}</span>
				<span class="nom_jour">{{index $p .Weekday}}</span>
				<span class="infos_jour">
					<span contenteditable="true" jour="{{.Format "02012006"}}">&nbsp;</span>
					<span contenteditable="false" class="numero_semaine">
					{{if eq .Weekday 2 }}
						{{ . | yearweek }}
					{{end}}
					</span>
				</span>
			</span>
		{{end}}
		<span class="mois_footer"></span>
		</span>
	{{end}}
	</span>
	<div id="forkongithub"><a href="https://github.com/vjeantet/calendrier.de">Fork me and contribute on GitHub</a></div>
</body>
</html> 